body, iframe {
    display: flex;
}
body {
    height: 100vh;
    justify-content: baseline;
}
iframe {
    width: 100%;
    min-width: 1100px;
    margin: 0;
    padding: 0;
    justify-content: center;
}